@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Http
@using OneDirect.Helper
@using OneDirect.Models
@using OneDirect.ViewModels
@using Newtonsoft.Json
@{

}
<!-- Main content -->
<!-- Main content -->
<section class="content" style="padding-top: 20px;">
    <div class="row">
        <!-- /.col -->
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                  
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="content col-sm-12 no-padding" style="width: 100% !important;height: auto !important;">


                            @if (ViewBag.history != null)
                            {
                                <div class="box" style="border-top:none;box-shadow:none">

                                    <div class="box-body">

                                        <div id="example1_wrapper" class="col-md-12 dataTables_wrapper form-inline dt-bootstrap" style="clear:both">
                                            <div class="row">
                                                <div class="col-sm-12" style="overflow-x:auto;">
                                                    <table id="example1" class="table table-bordered table-striped dataTable" style="font-size:small" role="grid" aria-describedby="example1_info">
                                                        <thead>
                                                            <tr role="row">
                                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Patient Name: activate to sort column descending" style="width: 182px;">Patient Name</th>
                                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Phone: activate to sort column descending" style="width: 182px;">Doctor Name</th>
                                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Phone: activate to sort column descending" style="width: 182px;">Appointment Time </th>
                                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Phone: activate to sort column descending" style="width: 182px;">Status</th>
                                                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Phone: activate to sort column descending" style="width: 182px;">Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (ViewBag.History != null)
                                                            {
                                                                List<AppointmentScheduleListView> lview = (List<AppointmentScheduleListView>)ViewBag.History;
                                                                var i = 0;
                                                                @foreach (var item in lview.OrderByDescending(x => x.AppointmentDate))
                                                                {
                                                            <tr>
                                                                <td>
                                                                    @if (item.TotalSession > 0)
        {
                                                            <a href="@Url.Action("Patient", "Provider", new { id = item.PatientRx.PatientId, Username = item.PatientName, EquipmentType = item.PatientRx.EquipmentType, actuator = item.PatientRx.DeviceConfiguration })">@item.PatientName</a>
}
else
{
                                                            @item.PatientName

}

                                                                </td>
                                                                <td>@item.Provider.Name</td>
                                                                <td>@(Convert.ToDateTime(item.AppointmentDate).ToString("MM-dd-yyyy hh:mm tt")) - @(Convert.ToDateTime(item.AppointmentDate).AddMinutes(30).ToString("hh:mm tt"))</td>
                                                                <td>@(item.Status == "Open" ? "-" : item.Status)</td>
                                                                <td>@Html.ActionLink("Delete", "deleteappointmentTab", "Appointments", new { appointmentid = item.AppointmentId, patId = item.PatientId, patName = item.PatientName, eType = item.PatientRx.EquipmentType, actuator = item.PatientRx.DeviceConfiguration, returnView = "Review" }, new { @class = "btn btn-primary btn-xs", onclick = "return confirm('Are you sure want to delete the appointment?')" })</td>
                                                            </tr>


                                                                }
                                                            }

                                                        <tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /. box -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
