@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Http
@using Highsoft.Web.Mvc.Stocks
@using OneDirect.Helper
@using OneDirect.ViewModels
@using Newtonsoft.Json
@model OneDirect.ViewModels.ReviewModel
@{

}
@section styles{
    <style type="text/css">
        .btn-group-xs > .btn, .btn-xs {
            padding: 1px 1px;
            font-size: 12px;
            line-height: 1.2;
            border-radius: 3px;
            margin-top: 1px;
        }
    </style>
}
<section class="content-header">
    <h1>
        @ViewBag.User

    </h1>
    @*kajal*@

    @if (Context.Session.GetString("UserType") == ConstantsVar.Admin.ToString())
    {
        <ol class="breadcrumb">
            <li><a href="~/Patient"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewBag.tab</li>
        </ol>

    }
    else if (Context.Session.GetString("UserType") == ConstantsVar.PatientAdministrator.ToString())
    {
        <ol class="breadcrumb">
            <li><a href="~/PatientAdministrator/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewBag.tab</li>
        </ol>

    }
    else if (Context.Session.GetString("UserType") == ConstantsVar.Provider.ToString())
    {
        <ol class="breadcrumb">
            <li><a href="~/Provider/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewBag.tab</li>
        </ol>

    }
    else if (Context.Session.GetString("UserType") == ConstantsVar.Therapist.ToString())
    {
        <ol class="breadcrumb">
            <li><a href="~/Therapist/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewBag.tab</li>
        </ol>

    }
    else if (Context.Session.GetString("UserType") == ConstantsVar.Support.ToString())
    {
        <ol class="breadcrumb">
            <li><a href="~/Support/Dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">@ViewBag.tab</li>
        </ol>

    }
</section>

<!-- Main content -->
<!-- Main content -->
<section class="content" style="padding-top: 20px;">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div>

                <div class="box-body">
                    <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="nav-tabs-custom" style="margin-bottom:0px !important;">
                                    <ul class="nav nav-tabs">
                                        <li class="@(ViewBag.tab == "Dashboard" ? "active" : "")" onclick="triggerfunction(this)">
                                            <a href="#tab_1" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator = ViewBag.actuator, tab = "Dashboard" })" data-toggle="tab">Summary</a>
                                        </li>
                                        <li class="@(ViewBag.tab == "Details" ? "active" : "")" onclick="triggerfunction(this)">
                                            <a href="#tab_2" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator =ViewBag.actuator, tab = "Details" })" data-toggle="tab">Details</a>
                                        </li>
                                        <li class="@(ViewBag.tab == "Rx" ? "active" : "")" onclick="triggerfunction(this)">
                                            <a href="#tab_3" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator = ViewBag.actuator, tab = "Rx" })" data-toggle="tab">Rx</a>
                                        </li>
                                        <li class="@(ViewBag.tab == "Exercises" ? "active" : "")" onclick="triggerfunction(this)">
                                            <a href="#tab_4" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator = ViewBag.actuator, tab = "Exercises"})" data-toggle="tab">Exercises</a>
                                        </li>
                                        <li class="@(ViewBag.tab == "Sessions" ? "active" : "")" onclick="triggerfunction(this)">
                                            <a href="#tab_5" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator =  ViewBag.actuator, tab = "Sessions" })" data-toggle="tab">Sessions</a>
                                        </li>
                                        <li class="@(ViewBag.tab == "PatientReviews" ? "active" : "")" onclick="triggerfunction(this)">
                                            <a href="#tab_5" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator =  ViewBag.actuator, tab = "PatientReviews" })" data-toggle="tab">Patient Reviews</a>
                                        </li>
                                        @if (Context.Session.GetString("UserType") != "6")
                                        {
                                            <li class="@(ViewBag.tab == "History" ? "active" : "")" onclick="triggerfunction(this)">
                                                <a href="#tab_6" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator = ViewBag.actuator, tab = "History" })" data-toggle="tab">Appointments</a>
                                            </li>
                                            <li class="@(ViewBag.tab == "Messages" ? "active" : "")" onclick="triggerfunction(this)">
                                                <a href="#tab_7" data-value="@Url.Action("Index", "Review", new { id = ViewBag.id, Username = ViewBag.User, EquipmentType = ViewBag.EquipmentType, actuator = ViewBag.actuator, tab = "Messages" })" data-toggle="tab">Messages</a>
                                            </li>
                                        }
                                    </ul>
                                    <div class="tab-content">
                                        @if (ViewBag.tab == "Dashboard")
                                        {
                                            <div class="tab-pane @(ViewBag.tab == "Dashboard" ? "active" : "")" id="tab_1">
                                                @await Html.PartialAsync("Dashboard")


                                            </div>
                                        }
                                        @if (ViewBag.tab == "Details")
                                        {
                                            <div class="tab-pane  @(ViewBag.tab == "Details" ? "active" : "")" id="tab_2">
                                                @await Html.PartialAsync("CreatePatient", Model.Patient)
                                            </div>
                                        }
                                        @if (ViewBag.tab == "Rx")
                                        {
                                            <div class="tab-pane  @(ViewBag.tab == "Rx" ? "active" : "")" id="tab_3">
                                                @await Html.PartialAsync("PatientRX", Model.Rx)
                                            </div>
                                        }
                                        @if (ViewBag.tab == "Exercises")
                                        {
                                            <div class="tab-pane  @(ViewBag.tab == "Exercises" ? "active" : "")" id="tab_4">
                                                @await Html.PartialAsync("ProtocolList", Model.Exercises)

                                            </div>
                                        }
                                        @if (ViewBag.tab == "Sessions")
                                        {
                                            <div class="tab-pane  @(ViewBag.tab == "Sessions" ? "active" : "")" id="tab_5">
                                                @await Html.PartialAsync("Sessions", Model.Sessions)
                                            </div>
                                        }
                                        @if (ViewBag.tab == "PatientReviews")
                                        {
                                            <div class="tab-pane  @(ViewBag.tab == "PatientReviews" ? "active" : "")" id="tab_5">
                                                @await Html.PartialAsync("PatientReviews", Model.PatientReviews)
                                            </div>
                                        }
                                        @if (Context.Session.GetString("UserType") != "6")
                                        {
                                            @if (ViewBag.tab == "History")
                                            {
                                                <div class="tab-pane  @(ViewBag.tab == "History" ? "active" : "")" id="tab_6">
                                                    @await Html.PartialAsync("History")
                                                </div>
                                            }
                                            @if (ViewBag.tab == "Messages")
                                            {
                                                <div class="tab-pane  @(ViewBag.tab == "Messages" ? "active" : "")" id="tab_7">
                                                    @await Html.PartialAsync("Messages")
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

@section Scripts {



    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script type="text/javascript">

       @*function createChartchartflexion() {

           console.log(@Html.Raw(ViewBag.AppleDataFlexionString));

               // create the chart
           Highcharts.stockChart('divhighstockflexion', {

                   rangeSelector: {
                       selected: 1
                   },

                   title: {
                       text: 'AAPL Historical'
                   },

                   yAxis: [{
                       labels: {
                           align: 'right',
                           x: -3
                       },
                       title: {
                           text: 'ROM'
                       },
                       height: '40%',
                       lineWidth: 2,
                       resize: {
                           enabled: true
                       }
                   }, {
                       labels: {
                           align: 'right',
                           x: -3
                       },
                       title: {
                           text: 'Pain'
                       },
                       top: '45%',
                       height: '25%',
                       offset: 0,
                       lineWidth: 2
                       },
                       //{
                       //    labels: {
                       //        align: 'right',
                       //        x: -3
                       //    },
                       //    title: {
                       //        text: 'Sessions'
                       //    },
                       //    top: '75%',
                       //    height: '25%',
                       //    offset: 0,
                       //    lineWidth: 2
                       //}
                   ],

                   tooltip: {
                       split: true
                   },

                   series: [{
                       type: 'columnrange',
                       name: 'Flexion',
                       turboThreshold:1000,
                       data: @Html.Raw(ViewBag.AppleDataFlexionString),

                   }, {
                       type: 'column',
                       name: 'Pain',
                       data: @Html.Raw(ViewBag.VolumeDataFlexionString),
                       yAxis: 1,

                       },
                       {
                       type: 'column',
                       name: 'Sessions',
                       data: @Html.Raw(ViewBag.VolumeDataFlexionString),
                       yAxis: 2,

                   }
                   ]
               });
        }*@

        @*var flexion = @Html.Raw(JsonConvert.SerializeObject((ViewBag.AppleDataFlexion as List<ColumnrangeSeriesData>).Select(x => new HighStockModel { x = x.X.ToString(), high = x.High.ToString(), low = x.Low.ToString() }).ToList()));
        var painflexion = @Html.Raw(JsonConvert.SerializeObject((ViewBag.PainVolumeDataFlexion as List<ColumnSeriesData>).Select(x => new HighStockSeries { x = x.X.ToString(), y = x.Y.ToString() }).ToList()));
        var sessionflexion = @Html.Raw(JsonConvert.SerializeObject((ViewBag.VolumeDataFlexion as List<ColumnSeriesData>).Select(x => new HighStockSeries { x = x.X.ToString(), y = x.Y.ToString()}).ToList()));

       var extension = @Html.Raw(JsonConvert.SerializeObject((ViewBag.AppleDataExtension as List<ColumnrangeSeriesData>).Select(x => new HighStockModel { x = x.X.ToString(), high = x.High.ToString(), low = x.Low.ToString() }).ToList()));
       var painextension = @Html.Raw(JsonConvert.SerializeObject((ViewBag.PainVolumeDataExtension as List<ColumnSeriesData>).Select(x => new HighStockSeries { x = x.X.ToString(), y = x.Y.ToString() }).ToList()));
        var sessionextension = @Html.Raw(JsonConvert.SerializeObject((ViewBag.VolumeDataExtension as List<ColumnSeriesData>).Select(x => new HighStockSeries { x = x.X.ToString(), y = x.Y.ToString()}).ToList()));*@


            

        $(function () {
                "use strict";


                if ("@ViewBag.tab" == "Dashboard") {
                    var datavalue = "";
                    var datavalue1 = "";
                    var datavalue2 = "";
                    var datavalue3 = "";
                    var datavalue4 = ""
                    var datavalue5 = "";

                    console.log(typeof(""));
                    var flexion = @Html.Raw(ViewBag.AppleDataFlexionString);
                    var painflexion = @Html.Raw(ViewBag.PainVolumeDataFlexionString);
                    var sessionflexion = @Html.Raw(ViewBag.VolumeDataFlexionString);

                    var extension = @Html.Raw(ViewBag.AppleDataExtensionString);
                    var painextension = @Html.Raw(ViewBag.PainVolumeDataExtensionString);
                    var sessionextension = @Html.Raw(ViewBag.VolumeDataExtensionString);

                    var flexionextension =@Html.Raw(ViewBag.AppleDataFlexionExtensionString);
                    var painflexionextension = @Html.Raw(ViewBag.PainVolumeDataFlexionExtensionString);
                    var sessionflexionextension = @Html.Raw(ViewBag.VolumeDataFlexionExtensionString);


                    $("input:radio[name='highstockrom']").change(function () {
                        $("#chkhighstock").prop("checked", false);
                        switch ($(this).attr("id")) {
                            case 'highstockflexion':
                                Highcharts.charts[0].series[0].setData(flexion, false);
                                Highcharts.charts[0].series[1].setData(painflexion, false);
                                Highcharts.charts[0].series[2].setData(sessionflexion, false);
                                Highcharts.charts[0].redraw();
                                break;
                            case 'highstockextension':
                                Highcharts.charts[0].series[0].setData(extension, false);
                                Highcharts.charts[0].series[1].setData(painextension, false);
                                Highcharts.charts[0].series[2].setData(sessionextension, false);
                                Highcharts.charts[0].redraw();

                                break;
                            case 'highstockflexionextension':
                                Highcharts.charts[0].series[0].setData(flexionextension, false);
                                Highcharts.charts[0].series[1].setData(painflexionextension, false);
                                Highcharts.charts[0].series[2].setData(sessionflexionextension, false);
                                Highcharts.charts[0].redraw();
                                break;
                            default:
                                $("[data-value=rom]").css("display", "none");
                                break;

                        }
                    });
                


                    

                    $("#chkhighstocksession").change(function () {

                        var session = "";
                        var pain = "";
                        if ($("#chkhighstocksession").attr("data-value") == "show") {
                            Highcharts.charts[0].series[2].yAxis.update({
                                labels: {
                                    enabled: false
                                },
                                title: {
                                    text: null
                                },

                            });
                            Highcharts.charts[0].series[2].hide();
                            Highcharts.charts[0].series[2].yAxis.axisLine.hide();
                            if ($("#chkhighstockpain").attr("data-value") == "hide") {

                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "100%"
                                });
                                Highcharts.charts[0].series[1].yAxis.axisLine.hide();
                            }
                            else {
                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "60%"
                                });
                                Highcharts.charts[0].series[1].yAxis.update({
                                    top: "65%",
                                    height: "35%"
                                });

                            }
                            $("#chkhighstocksession").attr("data-value", "hide");
                        }
                        else {
                            Highcharts.charts[0].series[2].yAxis.update({
                                labels: {
                                    enabled: true
                                },
                                title: {
                                    text: "Sessions"
                                },

                            });
                            Highcharts.charts[0].series[2].show();
                            Highcharts.charts[0].series[2].yAxis.axisLine.show();
                            if ($("#chkhighstockpain").attr("data-value") == "hide") {

                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "60%"
                                });
                                Highcharts.charts[0].series[2].yAxis.update({
                                    top: "65%",
                                    height: "35%"
                                });
                                Highcharts.charts[0].series[1].yAxis.axisLine.hide();
                            }
                            else {
                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "40%"
                                });
                                Highcharts.charts[0].series[1].yAxis.update({
                                    top: "45%",
                                    height: "25%"
                                });
                                Highcharts.charts[0].series[2].yAxis.update({
                                    top: "75%",
                                    height: "25%"
                                });

                            }
                            $("#chkhighstocksession").attr("data-value", "show");
                        }
                    });


                    $("#chkhighstockpain").change(function () {
                        if ($("#chkhighstockpain").attr("data-value") == "show") {

                            Highcharts.charts[0].series[1].yAxis.update({
                                labels: {
                                    enabled: false
                                },
                                title: {
                                    text: null
                                },

                            });

                            Highcharts.charts[0].series[1].hide();
                            Highcharts.charts[0].series[1].yAxis.axisLine.hide();
                            if ($("#chkhighstocksession").attr("data-value") == "hide") {

                                $("#chkhighstockpain").attr("data-value", "hide");
                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "100%"
                                });
                                Highcharts.charts[0].series[1].yAxis.axisLine.hide();
                            }
                            else {


                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "60%"
                                });
                                Highcharts.charts[0].series[2].yAxis.update({
                                    top: "65%",
                                    height: "35%"
                                });
                                Highcharts.charts[0].series[1].yAxis.axisLine.hide();
                                $("#chkhighstockpain").attr("data-value", "hide");
                            }
                        }
                        else {
                            Highcharts.charts[0].series[1].yAxis.update({
                                labels: {
                                    enabled: true
                                },
                                title: {
                                    text: "Pain"
                                },
                            });
                            Highcharts.charts[0].series[1].show();
                            Highcharts.charts[0].series[1].yAxis.axisLine.show();
                            if ($("#chkhighstocksession").attr("data-value") == "hide") {

                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "60%"
                                });
                                Highcharts.charts[0].series[1].yAxis.update({
                                    top: "65%",
                                    height: "35%"
                                });
                                Highcharts.charts[0].series[1].yAxis.axisLine.hide();
                            }
                            else {
                                Highcharts.charts[0].series[0].yAxis.update({
                                    height: "40%"
                                });
                                Highcharts.charts[0].series[1].yAxis.update({
                                    top: "45%",
                                    height: "25%"
                                });
                                Highcharts.charts[0].series[2].yAxis.update({
                                    top: "75%",
                                    height: "25%"
                                });
                            }
                            $("#chkhighstockpain").attr("data-value", "show");
                        }

                    });

                //$("#chkhighstocksession").change(function () {

                //    var session = "";
                //    var pain = "";
                //    if ($("#chkhighstocksession").attr("data-value") == "show") {
                //        session = "";

                //        if ($("#chkhighstockpain").attr("data-value") == "show") {
                //            pain = "pain";
                //        }
                //        else {
                //            pain = "";
                //        }
                //        var id = $("input:radio[name=highstockrom]:checked").attr("id")

                //        $("[data-value=rom]").css("display", "none");

                //        $("#div" + id + pain + session).css("display", "block");
                //        $("#chkhighstocksession").attr("data-value", "hide");

                //    }
                //    else {
                //        session = "session";

                //        if ($("#chkhighstockpain").attr("data-value") == "show") {
                //            pain = "pain";
                //        }
                //        else {
                //            pain = "";
                //        }
                //        var id = $("input:radio[name=highstockrom]:checked").attr("id")

                //        $("[data-value=rom]").css("display", "none");

                //        $("#div" + id + pain + session).css("display", "block");
                //        $("#chkhighstocksession").attr("data-value", "show");
                //    }
                //});


                //$("#chkhighstockpain").change(function () {
                //    var session = "";
                //    var pain = "";
                //    if ($("#chkhighstockpain").attr("data-value") == "show") {
                //        pain = "";

                //        if ($("#chkhighstocksession").attr("data-value") == "show") {
                //            session = "session";
                //        }
                //        else {
                //            session = "";
                //        }
                //        var id = $("input:radio[name=highstockrom]:checked").attr("id")

                //        $("[data-value=rom]").css("display", "none");

                //        $("#div" + id + pain + session).css("display", "block");
                //        $("#chkhighstockpain").attr("data-value", "hide");

                //    }
                //    else {
                //        pain = "pain";

                //        if ($("#chkhighstocksession").attr("data-value") == "show") {
                //            session = "session";
                //        }
                //        else {
                //            session = "";
                //        }
                //        var id = $("input:radio[name=highstockrom]:checked").attr("id")

                //        $("[data-value=rom]").css("display", "none");

                //        $("#div" + id + pain + session).css("display", "block");
                //        $("#chkhighstockpain").attr("data-value", "show");
                //    }

                //});

                //$("#chkhighstockpain").change(function () {
                //    if ($("#chkhighstockpain").attr("data-value") == "hide") {
                //        $("#chkhighstockpain").attr("data-value", "show");
                //        //$("#chkhighstockpain").next().text("Show Pain");
                //       // $("#chkhighstockpain").prop("checked", false);

                //        var id = $("input:radio[name=highstockrom]:checked").attr("id")
                //        if (id == "highstockflexion") {
                //            for (var i = 0; i < Highcharts.charts[0].series.length; i++) {
                //                if (Highcharts.charts[0].series[i].getName() == "Pain") {
                //                    Highcharts.charts[0].series[i].yAxis.update({
                //                        labels: {
                //                            enabled: false
                //                        },
                //                        title: {
                //                            text: null
                //                        },

                //                    });
                //                    Highcharts.charts[0].series[i].hide();
                //                    Highcharts.charts[0].series[i].yAxis.axisLine.hide()
                //                    break;
                //                }

                //            }

                //        }
                //        else if (id == "highstockextension") {

                //            for (var i = 0; i < Highcharts.charts[1].series.length; i++) {
                //                if (Highcharts.charts[1].series[i].getName() == "Pain") {
                //                    Highcharts.charts[1].series[i].yAxis.update({
                //                        labels: {
                //                            enabled: false
                //                        },
                //                        title: {
                //                            text: null
                //                        },

                //                    });
                //                    Highcharts.charts[1].series[i].hide();
                //                    Highcharts.charts[1].series[i].yAxis.axisLine.hide()
                //                    break;
                //                }

                //            }
                //        }
                //        else {
                //            for (var i = 0; i < Highcharts.charts[2].series.length; i++) {
                //                if (Highcharts.charts[2].series[i].getName() == "Pain") {
                //                    Highcharts.charts[2].series[i].yAxis.update({
                //                        labels: {
                //                            enabled: false
                //                        },
                //                        title: {
                //                            text: null
                //                        },

                //                    });
                //                    Highcharts.charts[2].series[i].hide();
                //                    Highcharts.charts[2].series[i].yAxis.axisLine.hide()
                //                    break;
                //                }

                //            }

                //        }
                //    }
                //    else {

                //        $("#chkhighstockpain").attr("data-value", "hide");
                //        //$("#chkhighstockpain").next().text("Show Pain");
                //        // $("#chkhighstockpain").prop("checked", false);

                //        var id = $("input:radio[name=highstockrom]:checked").attr("id")
                //        if (id == "highstockflexion") {
                //            for (var i = 0; i < Highcharts.charts[0].series.length; i++) {
                //                if (Highcharts.charts[0].series[i].getName() == "Pain") {
                //                    Highcharts.charts[0].series[i].yAxis.update({
                //                        labels: {
                //                            enabled: true
                //                        },
                //                        title: {
                //                            text: "Pain"
                //                        },

                //                    });
                //                    Highcharts.charts[0].series[i].show();
                //                    Highcharts.charts[0].series[i].yAxis.axisLine.show()
                //                    break;
                //                }

                //            }

                //        }
                //        else if (id == "highstockextension") {

                //            for (var i = 0; i < Highcharts.charts[1].series.length; i++) {
                //                if (Highcharts.charts[1].series[i].getName() == "Pain") {
                //                    Highcharts.charts[1].series[i].yAxis.update({
                //                        labels: {
                //                            enabled: true
                //                        },
                //                        title: {
                //                            text: "Pain"
                //                        },

                //                    });
                //                    Highcharts.charts[1].series[i].show();
                //                    Highcharts.charts[1].series[i].yAxis.axisLine.show()
                //                    break;
                //                }

                //            }
                //        }
                //        else {
                //            for (var i = 0; i < Highcharts.charts[2].series.length; i++) {
                //                if (Highcharts.charts[2].series[i].getName() == "Pain") {
                //                    Highcharts.charts[2].series[i].yAxis.update({
                //                        labels: {
                //                            enabled: true
                //                        },
                //                        title: {
                //                            text: "Pain"
                //                        },

                //                    });
                //                    Highcharts.charts[2].series[i].show();
                //                    Highcharts.charts[2].series[i].yAxis.axisLine.show()
                //                    break;
                //                }

                //            }

                //        }
                //    }

                //});
                //$("#chkhighstockshoulder").change(function () {
                //    if ($("#chkhighstockshoulder:checked").val() != undefined) {
                //        $("#divhighstockflexionshoulderpain").css("display", "block");

                //    }
                //    else {
                //        $("#divhighstockflexionshoulderpain").css("display", "none");
                //    }
                //});

                $('#example1').DataTable({
                    "stateSave": true,
                    "stateDuration": -1,
                    "pagingType": "full"
                });


                ////DONUT CHART
                var donut = new Morris.Donut({
                    element: 'sales-chart',
                    resize: true,
                    colors: ["#00a65a", "grey"],
                    data: [
                        { label: "Completed %", value: @ViewBag.Usage.PercentageCompleted },
                        { label: "Pending %", value: @ViewBag.Usage.PercentagePending }
                    ],
                    hideHover: 'auto'
                });

            var donut = new Morris.Donut({
                    element: 'sales-chart1',
                    resize: true,
                    colors: ["#00a65a", "#f7f74c", "#f56954"],
                    data: [
                        { label: "  Low Pain %", value: @ViewBag.Pain.LowPain },
                        { label: "Medium Pain %", value:  @ViewBag.Pain.MediumPain},
                        { label: "High Pain %", value: @ViewBag.Pain.HighPain }
                    ],
                    hideHover: 'auto'
                });


                //LINE randomly generated data

                var first = [], second = []
                var romdatavalue =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.ROM));
        var ymax = romdatavalue.ymax;
        var ymin = romdatavalue.ymin;
        console.log(romdatavalue);

                if (romdatavalue.ROMFlextion != null && romdatavalue.ROMFlextion.length > 0) {
                    for (var j = 0; j < romdatavalue.ROMFlextion.length; j++) {
                        first.push([romdatavalue.ROMFlextion[j].dateValue, romdatavalue.ROMFlextion[j].Flexion]);
                    }
                }
                if (romdatavalue.ROMExtension != null && romdatavalue.ROMExtension.length > 0) {
                    for (var j = 0; j < romdatavalue.ROMExtension.length; j++) {
                        second.push([romdatavalue.ROMExtension[j].dateValue, romdatavalue.ROMExtension[j].Extension]);
                    }
                }
                var line_data1 = {
                    data: first,
                    color: 'Orange'
                }
                var line_data2 = {
                    data: second,
                    color: 'Blue'
                }
                console.log(line_data1);
                console.log(line_data2);
                $.plot('#line-chart-rom', [line_data1, line_data2], {
                grid: {
                    hoverable: true,
                        borderColor: '#f3f3f3',
                        borderWidth: 1,
                        tickColor: '#f3f3f3'
                    },
                    series: {
                    shadowSize: 0,
                        lines: {
                        show: true
                        },
                        points: {
                        show: false
                        }
                },
                    lines: {
                    fill: false,
                        color: ['Orange', 'Blue']
                    },
                    yaxis: {
                    min: ymin, max: ymax,
                        show: true
                    },
                    xaxis: {
                    show: false
                    }
            })
                //Initialize tooltip on hover
                $('<div class="tooltip-inner" id="line-chart-rom-tooltip"></div>').css({
                position: 'absolute',
                    display: 'none',
                    opacity: 0.8
                }).appendTo('body')
                $('#line-chart-rom').bind('plothover', function (event, pos, item) {

                if (item) {
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1]

                        $('#line-chart-rom-tooltip').html(x + ' : ' + y)
                            .css({ top: item.pageY + 5, left: item.pageX - 15 })
                            .fadeIn(200)
                    } else {
                        $('#line-chart-rom-tooltip').hide()
                    }

            })
                /* END LINE CHART */






                /* initialize the calendar
         -----------------------------------------------------------------*/
                //Date for the calendar events (dummy data)
                var date = new Date();
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear();
                $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                        center: 'title',
                        right: ''
                    },
                    buttonText: {
                    today: 'today',
                        month: 'month',
                        week: 'week',
                        day: 'day'
                    },
                    //Random default events
                    events: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.TreatmentCalendar)),


                    editable: true,
                    droppable: false, // this allows things to be dropped onto the calendar !!!
                    theme: false,

                });
            }
            else if ("@ViewBag.tab" == "Details") {
                $('.datepicker1').datepicker({ autoclose: true, format: 'M-dd-yyyy', todayHighlight: true, forceParse: false });
                $('.datepicker').datepicker({ autoclose: true, format: 'M-dd-yyyy', todayHighlight: true, forceParse: false });

                $(document).ready(function () {
                    $('.input-validation-error').on('focus', function () {
                        $(this).parents('.form-group').removeClass('has-error');
                        $(this).attr('class', 'form-control');
                        $(this).next('span.field-validation-error').attr('class', 'field-validation-valid').html('');
                })
                    //kajal
                    $('input[name=PhoneNumber]').mask("(999) 999-9999");
                    $("button[type=submit]").click(function (e) {
                    if ($('form').valid() == false) {
                            $('.field-validation-error').addClass('text-danger');
                    }
                    var today = $.datepicker.formatDate('dd/mm/yy', new Date());
                    var dob_date = $.datepicker.formatDate('dd/mm/yy', new Date($('#Dob').val()));
                    var surgery_date = $.datepicker.formatDate('dd/mm/yy', new Date($('#SurgeryDate').val()));
                    if (new Date(dob_date) > new Date(today)) {
                            $("span[data-valmsg-for='Dob']").html("<br><span for='RxDays' class='' style='color:red'>Date of birth should not be greater than Today</span>");

                        return false;
                    }
                    if (new Date(surgery_date) < new Date(dob_date)) {
                            $("span[data-valmsg-for='SurgeryDate']").html("<br><span for='RxDays' class='' style='color:red'>Surgery date should be greater than or equal DOB</span>");

                        return false;
                    }
                });

                if ($('[name="Dob"]').val().length >= 8) {
                        $('[name="Dob"]').val($.datepicker.formatDate('M-dd-yy', new Date($('[name="Dob"]').val())));
                }
                    else {
                        $("#datepicker1").val('');
                }

                if ($('[name="SurgeryDate"]').val().length >= 8) {
                        $('[name="SurgeryDate"]').val($.datepicker.formatDate('M-dd-yy', new Date($('[name="SurgeryDate"]').val())));
                }
                    else {
                        $("#datepicker").val('');
                }
            });
            }
            else if ("@ViewBag.tab" == "Rx") {
                $('.datepicker1').datepicker({ autoclose: true, format: 'M-dd-yyyy', todayHighlight: true, forceParse: false });
                $('.datepicker').datepicker({ autoclose: true, format: 'M-dd-yyyy', todayHighlight: true, forceParse: false });

                $(document).ready(function () {
                    $('.input-validation-error').on('focus', function () {
                        $(this).parents('.form-group').removeClass('has-error');
                        $(this).attr('class', 'form-control');
                        $(this).next('span.field-validation-error').attr('class', 'field-validation-valid').html('');
                })

                    var etype = $('#etype').val();

                if ($('#NewPatientRXList_0__RxStartDate').val().length >= 8) {
                        $('#NewPatientRXList_0__RxStartDate').val($.datepicker.formatDate('M-dd-yy', new Date($('#NewPatientRXList_0__RxStartDate').val())));
                }
                    else {
                        $("#datepicker1").val('');
                }

                if ($('#NewPatientRXList_0__RxEndDate').val().length >= 8) {
                        $('#NewPatientRXList_0__RxEndDate').val($.datepicker.formatDate('M-dd-yy', new Date($('#NewPatientRXList_0__RxEndDate').val())));
                }
                    else {
                        $("#datepicker").val('');
                }
                if (etype == "Shoulder") {

                }
                    $("button[type=submit]").click(function (e) {
                    if ($('form').valid() == false) {
                            $('.field-validation-error').addClass('text-danger');
                    }
                    var surgery_date = $.datepicker.formatDate('M-dd-yy', new Date($('#Surgerydate').val()));// $('#Surgerydate').val();

                    for (var i = 0; i <= 2; i++) {

                        var start_date = $('#NewPatientRXList_' + i + '__RxStartDate').val();
                        var end_date = $('#NewPatientRXList_' + i + '__RxEndDate').val();

                        var flex_min = parseInt($('#NewPatientRXList_' + i + '__CurrentFlexion').val());
                        var flex_max = parseInt($('#NewPatientRXList_' + i + '__GoalFlexion').val());

                        if (etype == "Knee") {
                            var exten_min = parseInt($('#NewPatientRXList_' + i + '__CurrentExtension').val());
                            var exten_max = parseInt($('#NewPatientRXList_' + i + '__GoalExtension').val());

                            if (new Date(surgery_date) > new Date(start_date)) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].RxStartDate']").html("<br><span for='NewPatientRXList[" + i + "].RxStartDate' class='' style='color:red'>Rx Start date should be greater than Surgery date</span>");

                                return false;
                            }
                            if (new Date(start_date) > new Date(end_date)) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].RxEndDate']").html("<br><span for='NewPatientRXList[" + i + "].RxEndDate' class='' style='color:red'>Rx End date should be greater than Surgery date</span>");
                                return false;
                            }

                            if (flex_min < parseInt('@Constants.Knee_Flex_Current_Start') || flex_min > parseInt('@Constants.Knee_Flex_Current_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].CurrentFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].CurrentFlexion' class='' style='color:red'>Angle should be greater than or equal to @Constants.Knee_Flex_Current_Start and lesser than or equal to @Constants.Knee_Flex_Current_End </span>");
                                    $('#NewPatientRXList[' + i + '].CurrentFlexion').focus();
                                return false;
                            }
                            if (flex_max < parseInt('@Constants.Knee_Flex_Goal_Start') || flex_max > parseInt('@Constants.Knee_Flex_Goal_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be greater than or equal to @Constants.Knee_Flex_Goal_Start and lesser than or equal to @Constants.Knee_Flex_Goal_End</span>");
                                    $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                return false;
                            }
                            if (flex_max < flex_min) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be greater than Current angle</span>");
                                    $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                return false;
                            }
                            if (exten_min > parseInt('@Constants.Knee_Ext_Current_Start') || exten_min < parseInt('@Constants.Knee_Ext_Current_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].CurrentExtension']").html("<br><span for='#NewPatientRXList[" + i + "].CurrentExtension' class='' style='color:red'>Angle should be greater than or equal to @Constants.Knee_Ext_Current_Start and lesser than or equal to @Constants.Knee_Ext_Current_End</span>");
                                    $('#NewPatientRXList[' + i + '].CurrentExtension').focus();
                                return false;
                            }
                            if (exten_max > parseInt('@Constants.Knee_Ext_Goal_Start') || exten_max < parseInt('@Constants.Knee_Ext_Goal_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalExtension']").html("<br><span for='#NewPatientRXList[" + i + "].GoalExtension' class='' style='color:red'>Angle should be greater than or equal to @Constants.Knee_Ext_Goal_Start and lesser than or equal to @Constants.Knee_Ext_Goal_End</span>");
                                    $('#NewPatientRXList[' + i + '].GoalExtension').focus();
                                return false;
                            }
                            if (exten_max > exten_min) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalExtension']").html("<br><span for='#NewPatientRXList[" + i + "].GoalExtension' class='' style='color:red'>Angle should be less than Current angle</span>");
                                    $('#NewPatientRXList[' + i + '].GoalExtension').focus();
                                return false;
                            }
                        }
                        else if (etype == "Ankle") {
                            var exten_min = parseInt($('#NewPatientRXList_' + i + '__CurrentExtension').val());
                            var exten_max = parseInt($('#NewPatientRXList_' + i + '__GoalExtension').val());

                            if (new Date(surgery_date) > new Date(start_date)) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].RxStartDate']").html("<br><span for='NewPatientRXList[" + i + "].RxStartDate' class='' style='color:red'>Rx Start date should be greater than Surgery date</span>");
                                return false;
                            }
                            if (flex_min < parseInt('@Constants.Ankle_Flex_Current_Start') || flex_min > parseInt('@Constants.Ankle_Flex_Current_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].CurrentFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].CurrentFlexion' class='' style='color:red'>Angle should be greater than or equal to @Constants.Ankle_Flex_Current_Start and lesser than or equal to @Constants.Ankle_Flex_Current_End </span>");
                                    $('#NewPatientRXList[' + i + '].CurrentFlexion').focus();
                                return false;
                            }

                            if (flex_max < parseInt('@Constants.Ankle_Flex_Goal_Start') || flex_max > parseInt('@Constants.Ankle_Flex_Goal_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be greater than or equal to @Constants.Ankle_Flex_Goal_Start and lesser than or equal to @Constants.Ankle_Flex_Goal_End</span>");
                                    $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                return false;
                            }
                            if (flex_max < flex_min) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be greater than Current angle</span>");
                                    $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                return false;
                            }
                            if (exten_min > parseInt('@Constants.Ankle_Ext_Current_Start') || exten_min < parseInt('@Constants.Ankle_Ext_Current_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].CurrentExtension']").html("<br><span for='#NewPatientRXList[" + i + "].CurrentExtension' class='' style='color:red'>Angle should be greater than or equal to @Constants.Ankle_Ext_Current_End and lesser than or equal to @Constants.Ankle_Ext_Current_Start</span>");
                                    $('#NewPatientRXList[' + i + '].CurrentExtension').focus();
                                return false;
                            }
                            if (exten_max > parseInt('@Constants.Ankle_Ext_Goal_Start') || exten_max < parseInt('@Constants.Ankle_Ext_Goal_End')) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalExtension']").html("<br><span for='#NewPatientRXList[" + i + "].GoalExtension' class='' style='color:red'>Angle should be greater than or equal to @Constants.Ankle_Ext_Goal_End and lesser than or equal to @Constants.Ankle_Ext_Goal_Start</span>");
                                    $('#NewPatientRXList[' + i + '].GoalExtension').focus();
                                return false;
                            }
                            if (exten_max > exten_min) {
                                    $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalExtension']").html("<br><span for='#NewPatientRXList[" + i + "].GoalExtension' class='' style='color:red'>Angle should be less than Current angle</span>");
                                    $('#NewPatientRXList[' + i + '].GoalExtension').focus();
                                return false;
                            }
                        }
                        else {

                            var protocol_name = $('#NewPatientRXList_' + i + '__ProtocolName').val();
                            if (protocol_name == "Forward Flexion") {
                                if (new Date(surgery_date) > new Date(start_date)) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].RxStartDate']").html("<br><span for='NewPatientRXList[" + i + "].RxStartDate' class='' style='color:red'>Rx Start date should be greater than Surgery date</span>");
                                    return false;
                                }
                                if (new Date(start_date) > new Date(end_date)) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].RxEndDate']").html("<br><span for='NewPatientRXList[" + i + "].RxEndDate' class='' style='color:red'>Rx End date should be greater than Surgery date</span>");
                                    return false;
                                }
                                if (flex_min < parseInt('@Constants.Sh_Flex_Current') || flex_min > parseInt('@Constants.Sh_Flex_Goal')) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].CurrentFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].CurrentFlexion' class='' style='color:red'>Angle should be greater than @Constants.Sh_Flex_Current</span>");
                                        $('#NewPatientRXList[' + i + '].CurrentFlexion').focus();
                                    return false;
                                }
                                if (flex_max > parseInt('@Constants.Sh_Flex_Goal')) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be less than or equal to @Constants.Sh_Flex_Goal</span>");
                                        $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                    return false;
                                }
                                if (flex_max < flex_min) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be greater than Current angle</span>");
                                        $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                    return false;
                                }
                            }
                            if (protocol_name == "External Rotation") {

                                if (flex_min < parseInt('@Constants.Sh_ExRot_Current') || flex_min > parseInt('@Constants.Sh_ExRot_Goal')) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].CurrentFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].CurrentFlexion' class='' style='color:red'>Angle should be greater than @Constants.Sh_ExRot_Current</span>");
                                        $('#NewPatientRXList[' + i + '].CurrentFlexion').focus();
                                    return false;
                                }
                                if (flex_max > parseInt('@Constants.Sh_ExRot_Goal') || flex_max < flex_min) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be less than or equal to @Constants.Sh_ExRot_Goal</span>");
                                        $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                    return false;
                                }
                            }
                            if (protocol_name == "Abduction") {

                                if (flex_min < parseInt('@Constants.Sh_Abd_Current') || flex_min > parseInt('@Constants.Sh_Abd_Goal')) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].CurrentFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].CurrentFlexion' class='' style='color:red'>Angle should be greater than  @Constants.Sh_Abd_Current</span>");
                                        $('#NewPatientRXList[' + i + '].CurrentFlexion').focus();
                                    return false;
                                }
                                if (flex_max > parseInt('@Constants.Sh_Abd_Goal') || flex_max < flex_min) {
                                        $("span[data-valmsg-for='NewPatientRXList[" + i + "].GoalFlexion']").html("<br><span for='#NewPatientRXList[" + i + "].GoalFlexion' class='' style='color:red'>Angle should be less than or equal to  @Constants.Sh_Abd_Goal</span>");
                                        $('#NewPatientRXList[' + i + '].GoalFlexion').focus();
                                    return false;
                                }
                            }
                        }
                    }
                });
            });


            }
            else if ("@ViewBag.tab" == "History") {
                $('#example1').dataTable({
                "language": {
                    "emptyTable": "No appointments requested"
                    },
                    "stateSave": true,
                    "stateDuration": -1,
                    'aoColumnDefs': [{
                        'bSortable': false,
                        'aTargets': [-1] /* 1st one, start by the right */
                    }]
                });
            }


        });



        function bindChart()
        {

        }

        function triggerfunction(tab) {

            window.location = $(tab).find('a').attr("data-value");
        }


    </script>


}





